<a href="https://colab.research.google.com/github/Caseyshea96/Lab01CCS/blob/main/Lab3CCS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[![image](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/master/labs/lab_03.ipynb)
[![image](https://binder.pangeo.io/badge_logo.svg)](https://gishub.org/geog312-pangeo)

In [104]:
print("Casey Shea")

Casey Shea

**Firstname Lastname**

In [103]:
from datetime import datetime

now = datetime.now()
print(f"Submitted time: {now}")

Submitted time: 2023-09-27 17:29:52.236229

## Question 1
**Pizzas:** Think of at least three kinds of your favorite pizza. Store these pizza names in a list, and then use a for loop to print the name of each pizza.

Modify your for loop to print a sentence using the name of the pizza instead of printing just the name of the pizza. For each pizza you should have one line of output containing a simple statement like *I like pepperoni pizza.*

In [105]:
pizza = ['pepperoni', 'Sausage', 'Cheese']
for pizza in pizza:
  print(f"I love {pizza} pizza")

I love pepperoni pizza
I love Sausage pizza
I love Cheese pizza

Add a line at the end of your program, outside the for loop, that states how much you like pizza. The output should consist of three or more lines about the kinds of pizza you like and then an additional sentence, such as *I really love pizza!*

In [1]:
pizza = ['pepperoni', 'Sausage', 'Cheese']
for pizza in pizza:
  print(f"I love {pizza} pizza\n")

print("I really love pizza")

I love pepperoni pizza

I love Sausage pizza

I love Cheese pizza

I really love pizza

## Question 2
**Animals:** Think of at least three different animals that have a common characteristic. Store the names of these animals in a list, and then use a for loop to print out the name of each animal.

Modify your program to print a statement about each animal, such as *A dog would make a great pet.*

In [3]:
pets = ['dog','cat','fish']
for pets in pets:
  print(f"A {pets} would make a great pet!")

A dog would make a great pet!
A cat would make a great pet!
A fish would make a great pet!

Add a line at the end of your program stating what these animals have in common. You could print a sentence such as *Any of these animals would make a great pet!*

In [4]:
pets = ['dog','cat','fish']
for pets in pets:
  print(f"A {pets} would make a great pet!")

print("These animals are all great pets!")

A dog would make a great pet!
A cat would make a great pet!
A fish would make a great pet!
These animals are all great pets!

## Question 3
**Counting to Twenty:** Use a for loop to print the numbers from 1 to 20, inclusive.

In [7]:
for value in range(1,21):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

## Question 4
**One Hundred:** Make a list of the numbers from one to one hundred, and then use a for loop to print the numbers.

In [8]:
for value in range(1,101):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Question 5
**Summing a Hundred:** Make a list of the numbers from one to one million, and then use `min()` and `max()` to make sure your list actually starts at one and ends at one hundred. Also, use the sum() function to see how quickly Python can add a hundred numbers.

In [32]:
digits = list(range(1,100000001))
print(sum(digits))

print(max(digits))

print(min(digits))

5000000050000000
100000000
1

## Question 6
**Odd Numbers:** Use the third argument of the `range()` function to make a list of the odd numbers from 1 to 20. Use a `for` loop to print each number.

In [37]:
odd_numbers = list(range(1, 21, 2))
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Question 7
**Threes:** Make a list of the multiples of 3 from 3 to 30. Use a `for` loop to print the numbers in your list.

In [57]:
multiples_of_3 = []
for num in range(3, 31, 3):
    multiples_of_3.append(num)
for multiple in multiples_of_3:
    print(multiple)

3
6
9
12
15
18
21
24
27
30

## Question 8
**Cubes:** A number raised to the third power is called a cube. For example, the cube of 2 is written as 2 ** 3 in Python. Make a list of the first 10 cubes (that is, the cube of each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [61]:
cubes = []
for num in range(1, 11):
    cube = num ** 3
    cubes.append(cube)
for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Question 9
**Cube Comprehension:** Use a list comprehension to generate a list of the first 10 cubes.

In [62]:
cubes = [num ** 3 for num in range(1, 11)]
print(cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Question 10
**Slices:** Using one of the programs you wrote in this lab, add several lines to the end of the program that do the following:

Print the message *The first three items in the list are:*. Then use a slice to print the first three items from that program’s list.

In [67]:
pets = ["dog","cat","fish","turtle","hampster","bird"]

print(f'The first three items from this list are{pets[0:3]}')

The first three items from this list are['dog', 'cat', 'fish']

Print the message *Three items from the middle of the list are:*. Use a slice to print three items from the middle of the list.

In [69]:
pets = ["dog","cat","fish","turtle","hampster","bird"]

print(f'The middle three items from this list are{pets[2:5]}')

The middle three items from this list are['fish', 'turtle', 'hampster']

Print the message *The last three items in the list are:*. Use a slice to print the last three items in the list.

In [70]:
pets = ["dog","cat","fish","turtle","hampster","bird"]

print(f'The last three items from this list are{pets[3:6]}')

The last three items from this list are['turtle', 'hampster', 'bird']

## Question 11
**My Pizzas, Your Pizzas:** Start with your program from Question 1. Make a copy of the list of pizzas, and call it friend_pizzas. Then, do the following:

Add a new pizza to the original list.

In [81]:
pizza = ['pepperoni', 'Sausage', 'Cheese',]
pizza.append('Veggie')
for pizza in pizza:
  print(f"I love {pizza} pizza")

I love pepperoni pizza
I love Sausage pizza
I love Cheese pizza
I love Veggie pizza

Add a different pizza to the list `friend_pizzas`.

In [83]:
pizza = ['pepperoni', 'Sausage', 'Cheese']
pizza.append('Veggie')
friend_pizzas = pizza[:]
friend_pizzas.append('supreme')
for pizza in pizza:
  print(f"I love {pizza} pizza")

I love pepperoni pizza
I love Sausage pizza
I love Cheese pizza
I love Veggie pizza

Prove that you have two separate lists. Print the message *My favorite pizzas are:*, and then use a for loop to print the first list. Print the message *My friend’s favorite pizzas are:*, and then use a for loop to print the second list. Make sure each new pizza is stored in the appropriate list.

In [90]:
pizza = ['Pepperoni', 'Sausage', 'Cheese']
friend_pizzas = pizza[:]
pizza.append('Veggie')
friend_pizzas.append('Supreme')
print("My favorite pizzas are")
print(pizza)
print("My friend's favorites pizzas are")
print(friend_pizzas)

My favorite pizzas are
['Pepperoni', 'Sausage', 'Cheese', 'Veggie']
My friend's favorites pizzas are
['Pepperoni', 'Sausage', 'Cheese', 'Supreme']

## Question 12
**Buffet:** A buffet-style restaurant offers only five basic foods. Think of five simple foods, and store them in a tuple.

Use a for loop to print each food the restaurant offers.

In [93]:
tuple = ("Pizza","Burger","Hot dog","Chicken","Rice")
for tuple in tuple:
  print(tuple)

Pizza
Burger
Hot dog
Chicken
Rice

Try to modify one of the items, and make sure that Python rejects the change.

In [96]:
tuple = ("Pizza","Burger","Hot dog","Chicken","Rice")
for tuple in tuple:
  tuple[0] = "Steak"
print(tuple)

TypeError: ignored

The restaurant changes its menu, replacing two of the items with different foods. Add a line that rewrites the tuple, and then use a for loop to print each of the items on the revised menu.

In [102]:
tuple = ("Pizza","Burger","Hot dog","Chicken","Rice")
print("Original Menu:")
for tuple in tuple:
  print(tuple)

print()
tuple = ("Steak","Salmon","Hot dog","Chicken","Rice")
print("Updated Menu:")
for tuple in tuple:
  print(tuple)

Original Menu:
Pizza
Burger
Hot dog
Chicken
Rice

Updated Menu:
Steak
Salmon
Hot dog
Chicken
Rice